NODE_ENV=development

#== APP
PORT=3000
API_URL=http://localhost:3001

TRANSPORT_PORT=8080
JWT_EXPIRATION_TIME=3600
FALLBACK_LANGUAGE=en_US
ENABLE_ORM_LOGS=true
ENABLE_DOCUMENTATION=true
API_VERSION=v1.0.0
DEFAULT_EMAIL="something@example.com"
APP_NAME="NestJs-Boilerplate"

#== JWT Auth
JWT_PRIVATE_KEY=somekey
JWT_PUBLIC_KEY=somekey

#EMAIL
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM_EMAIL=

#== DB
DB_TYPE=postgres
DB_HOST=127.0.0.1
DB_PORT=5434
DB_USERNAME=postgres
DB_PASSWORD=password
DB_DATABASE=nest

#== Redis
REDIS_CACHE_ENABLED=true
REDIS_HOST=localhost
REDIS_PORT=6379

#== Throttler
THROTTLER_TTL=1m
THROTTLER_LIMIT=10
